body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

header {
    width: 100%;
    background-color: #5a3ff6;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.title {
    color: #5a3ff6;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px; 
}

.form-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 550px;
    margin-top: 10px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 95%;

    font-size: 16px; 
    color: #333; 
    transition: border-color 0.3s ease;

}

input[type="submit"] {
    background-color: #5a3ff6;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #432fcf;
}

.signup-link {
    margin-top: 20px;
    font-size: 16px;
    color: #5a3ff6;
    cursor: pointer;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.back {
    margin-top: 20px;
    text-decoration: none;
    color: #5a3ff6;
    font-size: 30px;
    font-weight: bold;



}

/* Footer */
footer {
    margin-top: 50px;
    background-color: #524bd1; /* Violet foncé */
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

footer a {
    color: #FFD166; /* Jaune orangé */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: rgba(255, 209, 102, 0.1);
    transition: all 0.3s ease;
}


